* {
    margin: 0;
    padding: 0;
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    box-sizing: border-box;

}

.header {
    background-color: #253237;
    color: #7D938A;
    padding: 19px;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 1000;
    height: fit-content;
    font-family: "Kanit", sans-serif, bold, 1000;
}

.nav {
    background-color: #5C6B73;
    padding: 10px;
    text-align: center;
    top: 80px;
    width: 100%;
    z-index: 1000;
    font-family: "Kanit", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav ul li {
    display: inline;
    margin: 0 15px;
}

.nav ul li a {
    color: #E0FBFC;
    text-decoration: none;
}

.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    font-family: "Nunito", sans-serif;
    margin: 0 10%;
}

.section {
    margin-bottom: 20px;
}

.section h2 {
    margin-bottom: 20px;
}

.content {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    border: 2px solid #353535;
    margin-bottom: 20px;
}

.input, .input_inline {
    margin-bottom: 15px;
}

.input label, .input_inline label {
    display: block;
    margin-bottom: 5px;
}

.input input, .input_inline input {
    width: 100%;
    padding: 10px;
    border: 2px solid #353535;
    border-radius: 5px;
}

.input_inline {
    display: flex;
    align-items: center;
}

.input_inline label {
    margin-right: 10px;
}

.input_inline input {
    width: auto;
}

button {
    background-color: #406E8E;
    color: white;
    border: none;
    margin-top: 10px;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #161925;
}

.book-item {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #000000;
}

.book-item h4 {
    margin: 0 0 5px 0;
}

.book-item p {
    margin: 0 0 10px 0;
}

.book-item button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

.book-item button:hover {
    background-color: #00244b;
}

.book-item .deleteButton {
    background-color: #ff0000;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 20px;
}

.book-item .deleteButton:hover {
    background-color: #310000;
}


.footer {
    background-color: #253237;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: auto;
    font-family: "Ubuntu Sans Mono", monospace;
    font-weight: 400;
}

.footer .social-links a {
    color: #E0E1DD;
    text-decoration: none;
    margin-right: 15px;
}

.footer .social-links a:hover {
    text-decoration: underline;
}

#backToTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#backToTop:hover {
    background-color: #0056b3;
}

@media (max-width: 600px) {
    nav {
        text-align: center;
    }

    nav ul li {
        display: inline;
        margin: 0 15px;
    }

    .content {
        flex-direction: column;
    }

    section {
        margin-right: 0;
        margin-bottom: 20px;
    }
}